<% provide(:title, 'All users') %>

<h1>All users</h1>

<%= will_paginate %>
    <%#
    will_paginateメソッドは少々不思議なことに、usersビューのコードの中から
    @usersオブジェクトを自動的に見つけ出し、
    それから他のページにアクセスするためのページネーションリンクを作成しています。
    will_paginateではpaginateメソッドを使った結果が必要
    > User.paginate(page: n)
      => nページ目のデータを取得。デフォルトは1ページ10件

    usersコントローラのindexアクションで記載
      @users = User.paginate(page: params[:page])
    params[:page]の部分はwill_pagenateによって自動生成
     %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
