<% provide(:title, 'All users') %>

<h1>All users</h1>

<%= will_paginate %> <%# この部分にページ選択メニューが入る %>
  <%#
    will_paginateメソッドは少々不思議なことに、usersビューのコードの中から
    @usersオブジェクトを自動的に見つけ出し、
    それから他のページにアクセスするためのページネーションリンクを作成しています。
    will_paginateではpaginateメソッドを使った結果が必要
    > User.paginate(page: n)
      => nページ目のデータを取得。デフォルトは1ページ10件

    usersコントローラのindexアクションで記載
      @users = User.paginate(page: params[:page])
    params[:page]の部分はwill_pagenateによって自動生成
  %>

<ul class="users">
  <%= render @users %>
</ul>
  <%#
    Railsが@usersをUserオブジェクトのリストであると推測する
    そしてユーザのコレクションを列挙
    それぞれのユーザに対して、_user.html.erbのパーシャルで出力。
    結果、下記と同じ動作となる
  %>
  <%#    <ul class="users">                                %>
  <%#      <% @users.each do |user| %>
  <%#        <%= render user %>
  <%#       userはUsersの１件分のデータ(|user|部分と同じ)  %>
  <%#      <% end %>                                       
  <%#    </ul>                                             %>

<%= will_paginate %> <%# この部分にページ選択メニューが入る %>
